*{
	padding: 0;
	margin: 0;
}

.navegacion{
	width: 100%;
	height: 40px;
	background-color: grey;
}

.principal{
	width: 100%;
	height: 40px;
	background-color: red;
	display: inline-flex;
}

.menu{
	width: 20%;
	height: 715px;
	background-color: yellow;
}

.titulo{
	background-color: black;
	color: white;
	
}

.cuerpo{
	width: 80%;
	height: 715px;
	background-color: blue;
}
