.container{
	display: flex;
	border:5px solid;
	height: 80vh;
	justify-content: stretch;
}



.box{
	background-color: blue;
}

.box1{
	background-color: orange;
}

.box2{
	background-color: black;
}

.box3{
	background-color: gray;
}

.box4{
	background-color: green;
}

.box5{
	background-color: red;
}

.box6{
	background-color: pink;
}

.box7{
	background-color: yellow;
}

.box8{
	background-color: grey;
}

.box9{
	background-color: purple;
}

.caja{
	font-size: 50px;
	text-align: center;
	text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
	padding: 10px;
	/*width: 180px;*/
}